.root {
  -pb-error-color: #FF5050;
  -pb-warn-color: #FFFF50;
  -pb-info-color: #5050FF;
  
  -pb-gray-100: #F5F5F5;
  -pb-gray-200: #EEEEEE;
  -pb-gray-300: #DDDDDD;
  -pb-gray-400: #CCCCCC;
  
  /*
  -fx-accent: #0096C9;
  -fx-focus-color: #039ED3;
  -fx-faint-focus-color: #039ED322;
  */
}


.table-row-cell .table-cell,
.tree-table-row-cell .tree-table-cell {
  -fx-border-width: 0.5px;
  -fx-border-color: gray gray gray gray;
  -fx-min-height: 30;
}
.table-row-cell:empty,
.tree-table-row-cell:empty {
  -fx-background-color: transparent;
}
.table-row-cell:empty .table-cell,
.tree-table-row-cell:empty .tree-table-cell {
  -fx-border-width: 0px;
}


/* glisten.css failed to define these 3 for tree tables, only regular tables */
.table-row-cell,
.tree-table-row-cell {
    -fx-background: white;
    -fx-background-color: "#eaeaea", -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:hover,
.tree-table-row-cell:hover {
    -fx-background: #EEEEEE;
    -fx-background-color: "#eaeaea", -fx-background;
}

.table-row-cell:selected,
.tree-table-row-cell:selected {
    -fx-background: derive(gold, +70%); /* make the selection color more obvious than glisten.css #F5F5F5;*/
    -fx-background-color: "#eaeaea", -fx-background;
}



.table-view .column-header .label {
  -fx-text-fill: black;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-alignment: center-left;
}

.table-view {
  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-effect: dropshadow(three-pass-box,-elevation-shadow-color, 2, 0, 0, 1);
}
.tree-table-view {
  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-effect: dropshadow(three-pass-box,-elevation-shadow-color, 2, 0, 0, 1);
}

/* https://edencoding.com/style-tableview-javafx/ */
.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, -primary-swatch-300, -primary-swatch-100);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 3px 0 0;
    -fx-padding: 5px;

    -fx-border-color: transparent -primary-swatch-900 -primary-swatch-900 transparent;
    -fx-border-radius: 7px 7px 0px 0px;
    -fx-border-insets: 0 3px 0 0;
    -fx-border-width: 1px;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

/* see modena.css: https://gist.github.com/maxd/63691840fc372f22f470 */
.tree-table-view .column-header { 
    -fx-background-color: linear-gradient(to bottom, -primary-swatch-300, -primary-swatch-100);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 3px 0 0;
    -fx-padding: 5px;
    
    -fx-border-color: transparent -primary-swatch-900 -primary-swatch-900 transparent;
    -fx-border-radius: 7px 7px 0px 0px;
    -fx-border-insets: 0 3px 0 0;
    -fx-border-width: 1px;
}
.tree-table-view .column-header .label {
  -fx-text-fill: black;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-alignment: center-left;
}


.pb-positive-number {
  -fx-background-color: linear-gradient(to bottom, derive(green, +50%), derive(green, +80%));
  -fx-text-fill: derive(green, -75%);
  -fx-opacity: 0.8;
}
.pb-negative-number {
  -fx-background-color: linear-gradient(to bottom, derive(red, +50%), derive(red, +80%));
  -fx-text-fill: derive(red, -75%);
  -fx-opacity: 0.8;
}
.pb-zero-number {
  -fx-background-color: transparent;
  -fx-text-fill: black;
  -fx-opacity: 0.8;
  }


/* container of buttons */
/* https://docs.gluonhq.com/charm/4.4.1/#_swatches */
.pb-toolbox {
  -fx-padding: 8px;
  -fx-background-color: -pb-gray-300;

  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-effect: dropshadow(three-pass-box,-elevation-shadow-color, 2, 0, 0, 1);
}

.pb-toolbox .button {
  -fx-max-width: 500px;
}

.pb-statusbox {
  -fx-padding: 4px;
  -fx-background-color: -pb-gray-200;

  -fx-border-color: -pb-gray-400;
  -fx-border-width: 1px;
  -fx-effect: innershadow(three-pass-box,-elevation-shadow-color, 2, 0, 0, 1);
}

